

  $width-root:100vw;
  $height-root:100vh;
  $color-black:black;
  $color-white:white;
  $color-bright-gray:#e2e2e2;
  $color-gray:#c4c4c4;
  $color-dark-gray:#838383;
  $color-light-pink:#FFEAE6;
  $color-dark-red: #6E1A26;
  $color-mid-red: #CA9E97;
  $color-mid-beige: #E0CDC9;
  $color-mid-pink: #FFAE9B;
  $color-dark-pink: #ED9D90;
  $solid-black:1px solid black;
  $solid-gray:1px solid #888;
  $solid-red:1px solid #613c3c;
  $solid-pink:2px solid #FFAE9B;
  $solid-blue:1px solid #4f508b;
  $dotted-color:1px dotted #3b3e49;
  $dotted-pink:1px dotted #FFAE9B;
  $border-radius:50%;
  $border-radius-round:20px;
  $width-per:100%;
  $justi-start:flex-start;
  $justi-end:flex-end;
  $justi-center:center;
  $justi-around:space-around;
  $justi-between:space-between;
  $justi-evenly:space-evenly;
  $ali-center:center;
  $ali-start:flex-start;
  $ali-end:flex-end;
  



// -----------------------------------------------------------------------------

@media(min-width:1020px){
  

  header{
    height: 10%;

    &>div:nth-child(1){
      display: none;
    }
  }

  main{
    height: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &>div{
      width: 45%;
      height: 90%;
      justify-content: center;
      // border: $solid-black;

      &>section:nth-child(1){
        width: 80%;
        height: 50%;
      // border: $solid-black;


        &>div:nth-child(1){
          font-size: 18px;
          border: none;
          height: 20%;
        }

        &>div:nth-child(2){
          width: 80%;
          height: 15%;
        }

        &>div:nth-child(3){
          display: flex;
          width: 80%;
          height: 15%;
          background-color: $color-bright-gray;
          color: $color-gray;
        }
      }
  
      &>section:nth-child(2){
        width: 80%;
        height: 50%;
      // border: $solid-black; 


        &>div{
          &>div{
            width: 80%;
            height: 20%;
          }
        }
      }
    }

    &>section:nth-child(2){
      display: flex;
      width: 45%;
      height: 90%;

      &>h2{
        width: 90%;
        hyphens: 10%;
        color: $color-gray;
      }

      &>div{
        width: 90%;
        height: 90%;
        // border: $solid-gray;

        &>div{
          width: 45%;
          height: $width-per;
          // border: $solid-gray;
          display: flex;
          justify-content: space-around;
          align-items: center;

          &>div{
            width: 50%;
            height: $width-per;

            &>div{
              width: 100px;
              height: 100px;
              background-color: $color-bright-gray;
            }

            &>p{
              width: 90px;
              height: 100px;
              display: flex;
              justify-content:center;
              align-items: flex-start;
              font-size: 14px;
              color: $color-gray;
            }
  
          }
        }
      }
    }
  }
}