
.flex{display:flex ;}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-evenly-center{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end-center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column{flex-direction: column;} 

.flex-row{flex-direction: row;}

.border-black{border: var(--border-solid-black);}

.margin-padding{margin: 0; padding: 0;}

.transition{transition: 1s;}

.circle-style{width: 40vw; height: 40vw; border-radius: var(--border-radius); background-color: var(--color-gray);}




/* ----------------------------- style setting-------------------------------- */



