@media (min-width:1028px) {



  #main-top>div:nth-child(1)>div{
    width: 22vw;
    height:22vw ;
  }

  #main-bottom{
    flex-wrap: wrap;
    justify-content: center;
  }

  #main-bottom>div{
    width: 30%;
    height: 10%;
    border: var(--solid-gray);
    border-radius: 40px;
  }  


  #main-bottom>ul>li{
    width: 12vw;
    height: 12vw;
  }

}





