$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$color-bright-gray:#e2e2e2;
$color-gray:#c4c4c4;
$color-dark-gray:#838383;
$color-light-pink:#FFEAE6;
$color-dark-red: #6E1A26;
$color-mid-red: #CA9E97;
$color-mid-beige: #E0CDC9;
$color-mid-pink: #FFAE9B;
$color-dark-pink: #ED9D90;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$solid-pink:2px solid #FFAE9B;
$solid-blue:1px solid #4f508b;
$dotted-color:1px dotted #3b3e49;
$dotted-pink:1px dotted #FFAE9B;
$border-radius:50%;
$border-radius-round:20px;
$width-per:100%;



// -----------------------------------------------------------------------------

@media(min-width:1020px){

  #root{height: 100vh;}

  header{
    height: 10%;

    &>div:nth-child(1){display: none;}
  }

  main{
    flex-direction: row;

    &>section:nth-child(1){
      width: 50%;
      height: 80%;

      &>div{
        &>div{
          width: 50px;
          height: 50px;
        }
      }
    }

    &>section:nth-child(2){
      width: 50%;
      height: 80%;

      &>div:nth-child(1){
        width: 80%;
        height: 5;
      }

      &>div:nth-child(2){
        width: 90%;
        height: 75%;
        flex-direction: row;
        
        &>div{
          width:30%;
          height:50%; 
          background-color: $color-gray;
          color: $color-bright-gray;
          border-radius: 30px;
        }
      }
    }

  }
}