

  $width-root:100vw;
  $height-root:120vh;
  $color-black:black;
  $color-white:white;
  $color-bright-gray:#e2e2e2;
  $color-gray:#c4c4c4;
  $color-dark-gray:#838383;
  $color-light-pink:#FFEAE6;
  $color-dark-red: #6E1A26;
  $color-mid-red: #CA9E97;
  $color-mid-beige: #E0CDC9;
  $color-mid-pink: #FFAE9B;
  $color-dark-pink: #ED9D90;
  $solid-black:1px solid black;
  $solid-gray:1px solid #838383;;
  $solid-red:1px solid #613c3c;
  $solid-pink:1px solid #FFAE9B;
  $solid-blue:1px solid #4f508b;
  $dotted-color:1px dotted #3b3e49;
  $dotted-pink:1px dotted #FFAE9B;
  $border-radius:50%;
  $border-radius-round:20px;
  $width-per:100%;
  $justi-start:flex-start;
  $justi-end:flex-end;
  $justi-center:center;
  $justi-around:space-around;
  $justi-between:space-between;
  $justi-evenly:space-evenly;
  $ali-center:center;
  $ali-start:flex-start;
  $ali-end:flex-end;
  


// -----------------------------------------------------------------------------

*{margin: 0; padding: 0;}


.flex{display: flex;}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-evenly-center{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around-end{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-between-start{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-end{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-center-start{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ali-end{align-items: flex-end;}

.ali-start{align-items: flex-start;}

.ali-center{align-items: center;}

.justi-center{justify-content: center;}

.justi-around{justify-content: space-around;}

.justi-between{justify-content: space-between;}

.justi-evenly{justify-content: space-evenly;}

.justi-start{justify-content: flex-start;}

.justi-end{justify-content: flex-end;}



.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.border-black{border: $solid-black;}

.border-pink{border:$solid-pink;}

.menu-style{
  list-style-type: none;
  width: $width-per;
  height: $width-per;
  color: $color-bright-gray;
  font-size: 14px;
}

.button-style{
  background-color: $color-gray;
  color: $color-dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.search-box-style{
  width: 80%;
  height: $width-per;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-dark-gray;
}

.icon-dwon-style{
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-dark-gray;
}

// ------------------------------------------------------

@media(min-width:450px){

  #root {
    // justify-content: center;
    &>header{order:1;}
    &>main{order:3;}
    &>footer{order:2;}
  }
  
  
  header{

    &>div:nth-child(1){
      &>div{
        margin-bottom: 1%;
      }
    }

    &>div:nth-child(2){
      display: none;
    }
  }
  
  main{
    
    &>section:nth-child(1){
      width: 90%;
      height: 25%;

      &>h2{
        display: flex;
        width: $width-per;
        height: 20%;
        color: $color-gray;
      }

      &>div{
        width: 65%;
        height: 80%;
  
        &>div{
          width: 45px;
          height: 45px;
        }
      }
    }

    &>section:nth-child(2){

      &>div:nth-child(1){
        width: 80%;
        height: 5;
      }


      &>div:nth-child(3){
        width: 55%;
        height: 12%;
        flex-direction: row;

        &>div:nth-child(1){
          width: 45%;
          height: 80%;
        }
  
        &>div:nth-child(2){
          width: 40%;
          height: 80%;
        }
      }
    }

  }


}