$width-root:100vw;
$height-root:120vh;
$color-black:black;
$color-white:white;
$color-bright-gray:#e2e2e2;
$color-gray:#c4c4c4;
$color-dark-gray:#838383;
$color-1:#FFEAE6;
$color-2: #CA9E97;
$color-3: #E0CDC9;
$color-4: #FFAE9B;
$color-5: #ED9D90;
$color-6: #6E1A26;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$solid-pink:1px solid #FFAE9B;
$solid-blue:1px solid #4f508b;
$dotted-color:1px dotted #3b3e49;
$dotted-pink:1px dotted #FFAE9B;

$per-100:100%;



// -----------------------------------------------------------------------------

*{margin: 0; padding: 0;  box-sizing: border-box;}


@mixin position($posi) {
  position: $posi;
}

@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  @include flex-setting(flex-end, center);
  flex-direction: column;
}  


@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
  @include flex-setting(center, center);
}


@mixin menu-style{
  list-style-type: none;
  width: $per-100;
  height: $per-100;
  color: $color-6;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin footer-style{
  width: $per-100;
  height: 5%;
  background-color: $color-2;
}

@mixin font-style($rem, $weight, $col) {
  font-size: $rem ;
  font-weight: $weight;
  color: $col;
}

@mixin border-style($radi) {
  border: $solid-pink;
  border-radius: $radi;
}


// ------------------------------------------------------

#root{
  @include root-style();
}

header{
  @include size($per-100, 18%);
  @include flex-setting(space-evenly, flex-end);
  flex-direction: column;

  &>div:first-child{
    @include box-style($per-100, 70%, $color-1);
    @include font-style(1.5rem, 600, $color-4);
  }

  &>div:last-child{
    @include flex-setting(center, center);
    @include size(20%, 10%);
    @include border-style(20px);
    margin-right: 10px;
  }
  
}

main{
  @include size($per-100, 75%);
  @include flex-setting(center, center);
  flex-direction: column;

  &>section:first-child{
    @include size($per-100, 45%);
    @include flex-setting(center, center);
    flex-direction: column;

    &>div:first-child{
      @include box-style(180px, 180px, $color-1);
      flex-direction: column;
      border-radius: 50%;
      color: $color-5;

      &>i{
        margin-top: 1vh;
        font-size: 2rem;
      }
    }
  }

  &>section:last-child{
    @include size($per-100, 55%);
  }
}

footer{
  @include footer-style;
  
    &>ul{
      @include menu-style;
    }
  }







