

  $width-root:100vw;
  $height-root:100vh;
  $color-black:black;
  $color-white:white;
  $color-bright-gray:#e2e2e2;
  $color-gray:#c4c4c4;
  $color-dark-gray:#838383;
  $color-light-pink:#FFEAE6;
  $color-dark-red: #6E1A26;
  $color-mid-red: #CA9E97;
  $color-mid-beige: #E0CDC9;
  $color-mid-pink: #FFAE9B;
  $color-dark-pink: #ED9D90;
  $solid-black:1px solid black;
  $solid-gray:1px solid #888;
  $solid-red:1px solid #613c3c;
  $solid-pink:2px solid #FFAE9B;
  $solid-blue:1px solid #4f508b;
  $dotted-color:1px dotted #3b3e49;
  $dotted-pink:1px dotted #FFAE9B;
  $border-radius:50%;
  $border-radius-round:20px;
  $width-per:100%;

  *{margin: 0; padding: 0;}


  .flex{display: flex;}
  
  .flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-center-start{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .flex-center-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  
  .flex-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .flex-around-start{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-between-start{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .flex-between-end{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  
  .flex-evnenly-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .flex-start-end{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  
  .flex-column{flex-direction: column;}
  
  .flex-row{flex-direction: row;}
  
  .position-absolute{position: absolute;}
  
  .position-relative{position: relative;}
  
  .border-black{border: $solid-black;}
  
  .border-pink{border:$solid-pink;}
  
  .footer-style{
    width: $width-per;
    height: 5%;
    background-color: $color-dark-gray;
  }
  
  .menu-style{
    list-style-type: none;
    width: $width-per;
    height: $width-per;
    color: $color-bright-gray;
  }
  

// -----------------------------------------------------------------------------

@media(min-width:1020px){

  header > div:nth-child(1) {
    display: none;
  }
  


  main{
    &>section:nth-child(2){
      &>div{
        &>div{
          width: 300px;
          height: 300px;
    
          &>p{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}