$width-root:100vw;
  $height-root:110vh;
  $color-black:black;
  $color-white:white;
  $color-bright-gray:#e2e2e2;
  $color-gray:#c4c4c4;
  $color-dark-gray:#838383;
  $color-light-pink:#FFEAE6;
  $color-dark-red: #6E1A26;
  $color-mid-red: #CA9E97;
  $color-mid-beige: #E0CDC9;
  $color-mid-pink: #FFAE9B;
  $color-dark-pink: #ED9D90;
  $solid-black:1px solid black;
  $solid-gray:1px solid #838383;;
  $solid-red:1px solid #613c3c;
  $solid-pink:1px solid #FFAE9B;
  $solid-color:1px solid #ffffff;
  $solid-blue:1px solid #4f508b;
  $dotted-color:1px dotted #ffffff;
  $dotted-pink:1px dotted #FFAE9B;
  $border-radius:50%;
  $border-radius-round:20px;
  $width-per:100%;
  $justi-start:flex-start;
  $justi-end:flex-end;
  $justi-center:center;
  $justi-around:space-around;
  $justi-between:space-between;
  $justi-evenly:space-evenly;
  $ali-center:center;
  $ali-start:flex-start;
  $ali-end:flex-end;
  


// -----------------------------------------------------------------------------

*{margin: 0; padding: 0;}


.flex{display: flex;}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-evenly-center{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around-end{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-end-end{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-between-start{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-end{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-center-start{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ali-end{align-items: flex-end;}

.ali-start{align-items: flex-start;}

.ali-center{align-items: center;}

.justi-center{justify-content: center;}

.justi-around{justify-content: space-around;}

.justi-between{justify-content: space-between;}

.justi-evenly{justify-content: space-evenly;}

.justi-start{justify-content: flex-start;}

.justi-end{justify-content: flex-end;}


.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.border-black{border: $solid-black;}

.border-pink{border:$solid-pink;}

.arrow-box-style{
  width: 45px;
  height: 45px;
  border: $solid-gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-gray;
}

.menu-style{
  list-style-type: none;
  width: $width-per;
  height: $width-per;
  color: $color-bright-gray;
  font-size: 14px;
}

.footer-style{
  width: $width-per;
  height: 5%;
  background-color: $color-dark-gray;
}



// ------------------------------------------------------

#root{
  width: $width-root;
  height: $height-root;
}

header{
  width: $width-per;
  height: 12%;
  align-items: flex-end;

  &>div{
    width: 90%;
    height: 30%;
  align-items: flex-end;

  }
}



main{
  width: $width-per;
  height: 88%;
  flex-direction: column;

  &>section:nth-child(1){
    width: 90%;
    height: 30%;

    &>div:nth-child(1){
      width: $width-per;
      height: 80%;
      background-color: $color-dark-gray;

      &>div:nth-child(1){
        width: $width-per;
        height: 80%;
      }
  
      &>div:nth-child(2){
        width: $width-per;
        height: 20%;
        
        &>div{
          width: 40px;
          height: 40px;
          background-color: $color-white;
          border-radius: 50%;
          color: $color-gray;
          margin-bottom: 5px;
          margin-right: 5px;
        }
      }
    }

    &>div:nth-child(2){
      width: $width-per;
      height: 20%;
      background-color: $color-gray;

      &>div{
        flex-grow: 1;
        height: $width-per;
        color: $color-white;
        border: $solid-color;
      }
    }
  }

  &>section:nth-child(2){
    width: 90%;
    height: 65%;

    &>div:nth-child(1){
      width: $width-per; 
      flex-grow: 0.1;
      color: $color-dark-gray;
      

      &>p{
        width: 95%;
        height: $width-per;
        display: flex;
        align-items: flex-end;
      }
    }

    &>div:nth-child(2){
      width: $width-per; 
      flex-grow: 2;

      &>div:nth-child(1){
        width: 15%;
        height: $width-per;
        justify-content: center;

        &>div{
          width: 8%;
          height: $width-per;
          background-color: $color-gray;
          border-radius: 20px;
        }
      }

      &>div:nth-child(2){
        width: 60%;
        height: $width-per;
        text-align: justify;
        color: $color-dark-gray;
      }
    }

    &>div:nth-child(3){
      width: $width-per; 
      flex-grow: 0.1;
      color: $color-dark-gray;

      &>p{
        width: 95%;
        height: $width-per;
      }
    }
  }
} 


footer{  
  width: $width-per;
  height: 5%;
  background-color: $color-dark-gray;
}





