.flex{display: flex;}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evnenly-center{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

















